@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* .nav-bar, .banner{
  max-width: 1440;
  margin: 0 auto;
} */
/* shared-styels */
.display-flex{
  display: flex;
}
/* nav-bar section */
.nav-link {
  list-style: none;
  gap: 30px;
  font-size: 1.2rem;
  font-weight: 900;
}
.nav-bar{
justify-content: space-between;
align-items: center;
margin: 20px 140px;
}
.heading-name{
  font-size: 2rem;
  font-weight: bold;
}
.panda-logo{
 margin: 20px;
}
.nav-link-1{
 color: #FEA301;
}
.nav-link-2{
color: rgba(1, 172, 253, 1);
}
.nav-link-3{
color: #05D4DF;
}
.nav-link-4{
color: rgba(93, 88, 239, 1);
}
.nav-button{
  font-size: 1.2rem;
  font-weight: 500;
  padding: 10px 60px;
  border-radius: 10px;
  background-color: #FEA301;
  color: white;
  border: none;
}
.hamburger-menu {
  display: none;
  cursor: pointer;
  width: 30px;
  height: 25px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.hamburger-menu .bar {
  width: 100%;
  height: 4px;
  background-color: black;
  border-radius: 5px;
}

/* banner-section */
.banner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin:20px 140px;

}
.banner-details{
  max-width: 640px;
}
.banner-heading{
  font-size: 3.5rem;
  font-weight: bold;

  
}
.bh-1{
  color: #FEA301;
}
.bh-2{
  color: #01ACFD;
}
.banner-paragraph{
  font-size: 1.25rem;
  font-weight: 400;
}
.banner-button{
  font-size: 1.25rem;
  font-weight: bold;
  padding: 10px 60px;
  border-radius: 10px;
  color: white;
  background-color: black;
}
.banner-image{

}

/* curriculum section */
.curriculum-section{
  background-image: url(assets/bg.png);
  display: flex;
  justify-content: space-between;
  margin: 20px 140px;
  gap: 20px;
}
.curriculum-title{
  text-align: center;
  font-size: 2.8rem;
  

}
.kin-der{
max-width: 367px;
justify-items: center;
text-align: center;
background-image: linear-gradient(rgba(222, 245, 255, 1), white);
padding: 30px;
border-radius: 10px;
box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.05) inset;
/* box-shadow: 5px 10px 20px red inset; */

}
.elemen-tary{
max-width: 367px;
justify-items: center;
text-align: center;
background-image: linear-gradient(rgba(255, 244, 220, 1), white);
padding: 30px;
border-radius: 10px;
box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.05) inset;
}
.mi-ddle{
max-width: 367px;
justify-items: center;
text-align: center;
background-image: linear-gradient(rgba(242, 232, 255, 1), white);
padding: 30px;
border-radius: 10px;
box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.05) inset;
}
/* shared style for curriculum section */
.h-3{
font-size: 1.5rem;
font-weight: bold;
color: rgba(32, 32, 32, 1);
}
.h-p{
font-size: 1rem;
font-weight: 400;
color: rgba(128, 128, 128, 1);
}
/* read more button */
.re-ad{
  font-size: 1rem;
  font-weight: bold;
  background: none;
  border: none;
  margin-top: 10px;
}
.re-1{
  color: rgba(100, 200, 255, 1);
}
.re-2{
color: rgba(240, 170, 0, 1);
}
.re-3{
color: rgba(135, 0, 255, 1);
}

/* arrow-section */
.arrow-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.arrow-designe{
    width: 50px;
    height: 50px;
    background-color: #ffa500;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* our story section */


.story-heading{
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

.container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap:1rem;
  /* position:relative; */
  
}
.our-story{
 padding: 3rem;
 background:url(assets/bg.png), linear-gradient(to bottom, white, rgba(255, 211, 134, 1));
 justify-items: center;
  /* background-image: url(assets/bg.png); */

}
.container h3{
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  padding: 1rem;
} 
.container p{
font-size: 1rem;
color: rgba(102, 102, 102, 1);
padding: 1rem;
}
  .story-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: left;
}
.story-card img {
  width: 100%;
  height: auto;
  position: ;
} 
.story-date {
  font-size: 0.8rem;
  padding: 0.8rem 2rem;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 20px;
  margin-left: 2rem;
  /* position: absolute; */
}
#first-box{
 grid-column: span 2;
 grid-row: span 2;
}
.view-all {
  margin-top: 2rem;
  padding: 0.8rem 2rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;


  
}
.view-all:hover {
  background-color: #0056b3;
}
.box-card{
  /* position: relative; */
}


/* footer-section */
.footer-section{
  background-color: rgba(1, 172, 253, 1);
   color: white;
   display: flex;
   justify-content: space-around;
   padding-top: 3rem;
   padding-bottom: 5rem;
}
.first-sec{
 
}
.first-sec img{
  background-color: white;
  border-radius: 5px;
 margin-left: 0;
}
.about-list{
 list-style: none;
 padding: 0; 
}
.panda-logo{
}
.kids-education{
  font-size: 1.5rem;
  font-weight: bold;
}





/* responsive media query */
@media screen and (max-width: 576px){
  .heading-name, .nav-link, .nav-button, .story-big, .arrow-section{
    display: none;
  }
  .hamburger-menu {
    display: flex;
  }
  .nav-bar{
    justify-content: space-between;
    margin: 10px;
    background-color: #05D4DF;
    padding: 5px;
  }
  .banner{
    flex-direction: column-reverse;
    text-align: center;
    margin: 10px;
  }
  .curriculum-section{
    flex-direction: column;
    margin: 10px;

  }
  .container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap:.3rem;
  
  
}
.our-story{
 padding: .3rem;

}
.story-date {
  font-size: 0.6rem;
  padding: 0.6rem 1.5rem;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 20px;
  margin-left: .3rem;
}
.container h3{
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  padding: 1rem;
}
.footer-section{
  flex-direction: column;
  padding-left: 10px;
}

    
  }
  
  


